.landing-page {
    font-size: 250%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page a {
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(10,10,10,0.5);
    color: #818181;
}

.landing-page a:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    animation: forwards;
    text-decoration: none;
    color: #818181;
}

.landing-page #playbutton {
    font-size: 120%;
    color: #5b9628;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #dddddd;
}

.navbar {
    background-color: cadetblue;
    position: sticky;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.1),0 2px 3px 0 rgba(0,0,0,0.19);
    padding: 0;
    width: 100%;
}

.navbar > .navbar-header {
    width: 10%;
}

.navbar > a {
    color: #fff;
}


.navbar > .navbar-link {
    display: inline;
    float: right;
    font-size: 18px;
}

.navbar > .navbar-link > a {
    display: inline-block;
    padding: 12px 10px 12px 10px;
    text-decoration: none;
    color: #efefef;
}

.navbar > .navbar-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in;
}


.game-table {
    width: 50vmin;
    border-spacing: 0;
    background-position: bottom;
    border: 0.7vmin solid saddlebrown;
    box-shadow:0 10px 16px rgba(0,0,0,0.3),0 6px 20px rgba(0,0,0,0.29);
    text-align: center;
}

.game-table .column-header {
    background: #aaaaaa
}

.game-table .row-header {
    background: #aaaaaa;
}


.game-table .row-header .row-number {
    /*-webkit-transform: rotate(90deg); !* Safari and Chrome *!*/
    /*-moz-transform: rotate(90deg);   !* Firefox *!*/
    /*-ms-transform: rotate(90deg);   !* IE 9 *!*/
    /*-o-transform: rotate(90deg);   !* Opera *!*/
    /*transform: rotate(90deg);*/
    width: 100%;
}

.container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-style: none solid solid none;
    border-width: 1px;
    border-color: black;
}

.game-table .container .cell {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.game-table .container .cell:hover {
    background-color: rgba(160, 160, 160, 0.3);
    transition: all 0.2s ease-in;
}

.game-table .container .cell a {
    margin: auto;
    width:100%;
    height: 100%;
    display: inline-flex;
}

.game-table .container .cell .dot {
    height: 60%;
    width: 60%;
    background-color: rgba(12,12,12,0.7);
    box-shadow: 0 1px 2px rgba(97,150,97,0.7);
    margin: auto;
}

.game-table .container .cell img {
    align-content: center;
    width: 100%;
    height: auto;
}

.rules {
    text-align: justify;
    width: 70%;
    background-color: #aaaaaa;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.3),0 3px 10px 0 rgba(0,0,0,0.29);
    margin: 68px auto;
}

.rules > .content {
    padding: 50px 50px 50px 50px;
}

.rules > .content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidenav {
    width: auto;
    font-size: 1vmin;
    z-index: 1;
}

.sidenav a {
    color: #818181;
}

.sidenav button {
    color: #818181;
}


.collapse.show {
    transition-property: margin-left, visibility;
    transition-duration: 0.1s;
    visibility: visible;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.38);
}
.collapsing {
    transition-property: margin-left, visibility;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.collapsing.width {
    transition-property: margin-left, visibility;
    margin-left: -100%;
}


/*.collapsing {*/
/*    transition-property: margin-left, visibility;*/
/*    transition-duration: 0.2s;*/
/*    transition-timing-function: ease-in-out;*/
/*}*/

/*.collapsing.width {*/
/*    transition-property: margin-left, visibility;*/
/*    margin-left: -200px;*/
/*}*/

.position-absolute {
    right: 0px;
}

.position-absolute  .navbar {
    display: inline-block;
}


#bd-right-nav h5 {
    margin: 1vh 0;
}
