.game {
    display: table;
    margin: 20px auto;
}

.game > .score {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.game > .game-table {
    border-spacing: 0;
    background-position: bottom;
    border: 7px solid saddlebrown;
    border-radius: 4px;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.29);
}

.game > .game-table .column-header {
    height: 28px;
    text-align: center;
    background: #aaaaaa
}

.game > .game-table .row-header {
    background: #aaaaaa;
    text-align: center;
    width: 28px
}

.game > .game-table .cell {
    width: 48px;
    height: 48px;
    border: solid black 1px;
}

.game > .game-table .cell:hover {
    background-color: rgba(160, 160, 160, 0.3);
    transition: all 0.2s ease-in;
}

.game > .game-table .cell a {
    margin: auto;
    width:100%;
    height: 100%;
    display: inline-flex;
}

.game > .game-table .cell .dot {
    height: 25px;
    width: 25px;
    background-color: rgba(12,12,12,0.7);
    border-radius: 50%;
    display: inline-block;
    margin: auto;
}

.rules {
    text-align: justify;
    width: 70%;
    background-color: #aaaaaa;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.3),0 3px 10px 0 rgba(0,0,0,0.29);
    margin: 68px auto;
}

.rules > .content {
    padding: 50px 50px 50px 50px;
}

.rules > .content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: rgba(12,12,12,0.7);
    border-radius: 50%;
    display: inline-block;
}

.sidenav {
    padding-top: 50px;
    width: 200px;
    position: fixed;
    height: 100%;
}

.sidenav button {
    width: 100%;
    font-size: 22px;
    color: #818181;
}

.sidenav a {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
}

.navbar {
    padding: 0;
    box-shadow: 2px 3px 6px -1px rgba(0,0,0,0.29);
}

.navbar > .navbar-brand {
    margin: 0;
    padding-left: 10px;
    background: cadetblue;
    width: 200px;
}

.navbar > .navbar-nav > .nav-link {
    text-decoration: none;
    font-size: 18px;
}

.navbar > .navbar-nav > .nav-link a {
    color: #cccccc;
    text-decoration: none;
    font-size: 18px;
    margin-right: 5px;
}

.collapse {
    visibility: hidden;
}
.collapse.show {
    transition-property: margin-left, visibility;
    transition-duration: 0.2s;
    visibility: visible;

    box-shadow: 0 0 5px -1px rgba(0,0,0,0.38);
}
.collapsing {
    transition-property: margin-left, visibility;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.collapsing.width {
    transition-property: margin-left, visibility;
    margin-left: -200px;
}

@media (max-width: 800px) {
    .navbar {
        padding: 5px;
    }
    .navbar > .navbar-brand {
        display: none;
    }

    .game > .game-table .column-header {
        font-size: 12px;
        height: 22px;
    }

    .game > .game-table .row-header {
        font-size: 12px;
        width: 22px
    }

    .game > .game-table .cell {
        width: 36px;
        height: 36px;
    }

    .game > .game-table .cell img {
        width: 30px;
        height: 30px;
    }

    .game > .game-table .cell .dot {
        height: 20px;
        width: 20px;
    }
}
