@(controller: de.htwg.se.othello.controller.controllerComponent.ControllerInterface)

@size = @{ controller.size }
@count(colorValue: Int) = @{controller.count(colorValue)}
@value(col: Int, row: Int) = @{controller.valueOf(col, row)}
@main("Othello") {
    @navbar()
    <center>
        <div class="game">
            <h3>
                &nbsp&nbsp&nbsp&nbsp
                    <img src=@routes.Assets.versioned("images/1.png") alt="●"/> @count(1)
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <img src=@routes.Assets.versioned("images/2.png") alt="○"/> @count(2)
            </h3>
            <table bgcolor="#333333" style="text-align: center">
                @for(row <- 0 until size + 1) {
                    <th bgcolor="#aaaaaa" style="width: 50px; height: 50px">
                        @{if (row == 0) "" else (row + 64).toChar}
                    </th>
                }
            @for(row <- 0 until size) {
                <tr bgcolor="#458440">
                    <th bgcolor="#aaaaaa" >@{row + 1}</th>
                @for(col <- 0 until size){
                    <td bgcolor="#458440" style="width: 50px; height: 50px">
                    @{
                        if (value(col, row) == -1) {
                                "x"
                        } else if (value(col,row) == 1) {
                                    <img src='/assets/images/1.png'/>
                        } else if (value(col, row) == 2){
                                    <img src='/assets/images/2.png'/>
                        }
                    }
                    </td>
                }
                </tr>
            }
            </table>
        </div>
    </center>
}