@(controller: de.htwg.se.othello.controller.controllerComponent.ControllerInterface)

@size = @{
    controller.size
}

@count(colorValue: Int) = @{
    controller.count(colorValue)
}

@value(col: Int, row: Int) = @{
    controller.valueOf(col, row)
}

@main("Othello") {
    <div class="container-fullwidth">
        @navbar()
        <div class="d-md-none">
            <div class="position-absolute">
                <nav class="navbar navbar-dark bg-dark">
                    <button class="navbar-toggler" type="button" onclick="difficultyModeFunction('@controller.difficulty', '@controller.playerCount')" data-toggle="collapse" data-target="#bd-right-nav" aria-controls="bd-right-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </button>
                    <div class="collapse" id="bd-right-nav">
                        <div class="bg-dark p-4">
                            <h5 class="text-white h4">Difficulty</h5>
                            <form class="difficulty-chooser text-white">
                                <div class="form-check form-check-inline col-auto">
                                    <input class="difficulty-chooser" type="radio" name="diffRadio" id="easy" value="Easy" onclick="changeDifficulty(this, '@controller.difficulty')">
                                    <label class="form-check-label" for="inlineRadio1">Easy</label>
                                </div>
                                <div class="form-check form-check-inline col-auto">
                                    <input class="difficulty-chooser" type="radio" name="diffRadio" id="normal" value="Normal" onclick="changeDifficulty(this, '@controller.difficulty')">
                                    <label class="form-check-label" for="inlineRadio2">Normal</label>
                                </div>
                                <div class="form-check form-check-inline col-auto">
                                    <input class="difficulty-chooser" type="radio" name="diffRadio" id="hard" value="Hard" onclick="changeDifficulty(this, '@controller.difficulty')">
                                    <label class="form-check-label" for="inlineRadio3">Hard</label>
                                </div>
                            </form>
                            <h5 class="text-white h4">Mode</h5>
                            <form class="mode-chooser text-white">
                                <div class="form-check form-check-inline col-auto">
                                    <input class="mode-chooser" type="radio" name="modeRadio" id="inlineRadio1" value="pvc" onclick="changeMode(this, '@controller.playerCount')">
                                    <label class="form-check-label" for="inlineRadio1">Player vs. Computer</label>
                                </div>
                                <div class="form-check form-check-inline col-auto">
                                    <input class="mode-chooser" type="radio" name="modeRadio" id="inlineRadio2" value="pvp" onclick="changeMode(this, '@controller.playerCount')">
                                    <label class="form-check-label" for="inlineRadio2">Player vs. Player</label>
                                </div>
                                <div class="form-check form-check-inline col-auto">
                                    <input class="mode-chooser" type="radio" name="modeRadio" id="inlineRadio3" value="cvc" onclick="changeMode(this, '@controller.playerCount')">
                                    <label class="form-check-label" for="inlineRadio3">Computer vs. Computer</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        @sidenav(controller)

        <div class="d-table m-auto">
            <div class="row m-2">
                <div class="col text-center h-100">
                    <img src="@routes.Assets.versioned("images/1.png")" alt="●"/>
                    <span class="h4 align-middle">@count(1)</span>
                </div>
                <div class="col text-center h-100">
                    <img src="@routes.Assets.versioned("images/2.png")" alt="○"/>
                    <span class="h4 align-middle">@count(2)</span>
                </div>
            </div>
            <table class="game-table" style="background-image: url(@routes.Assets.versioned("images/back.jpg"))">
                @for(row <- 0 until size + 1) {
                    <th class="column-header text-center">
                    @if(row > 0) {
                        @{
                            (row + 64).toChar
                        }
                    }
                    </th>
                }
                @for(row <- 0 until size) {
                    <tr>
                        <th class ="row-header text-center">
                            <div class="row-number">
                            @{
                                row + 1
                            }
                            </div>
                        </th>
                        @for(col <- 0 until size) {
                            <td>
                                <div class="container">
                                    <div class="cell">
                                    @{
                                        if(value(col, row) <= 0) {
                                                <a href={"/set/" + (col + 65).toChar + (row + 1)}>
                                                {if(value(col, row) == -1) {
                                                            <span class="dot d-inline-block rounded-circle"/>
                                                }}
                                                </a>
                                        } else if(value(col, row) == 1) {
                                                    <img src='/assets/images/1.png'/>
                                        } else if(value(col, row) == 2) {
                                                    <img src='/assets/images/2.png'/>
                                        }
                                    }
                                    </div>
                                </div>
                            </td>
                        }
                    </tr>
                }
            </table>
            <div>@controller.difficulty</div>
        </div>
    </div>
}