@(controller: de.htwg.se.othello.controller.controllerComponent.ControllerInterface)

@size = @{ controller.size }
@count(colorValue: Int) = @{controller.count(colorValue)}
@value(col: Int, row: Int) = @{controller.valueOf(col, row)}
@main("Othello") {
    @navbar()
    @sidenav()
    <div class="game">
        <h3 class="score">
            <img src=@routes.Assets.versioned("images/1.png") alt="●"/> @count(1)
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <img src=@routes.Assets.versioned("images/2.png") alt="○"/> @count(2)
        </h3>
        <table class="game-table" style="background-image: url(@routes.Assets.versioned("images/back.jpg"))">
            @for(row <- 0 until size + 1) {
                <th class="column-header">
                @if(row > 0) {
                    @{(row + 64).toChar}
                }
                </th>
            }
            @for(row <- 0 until size) {
                <tr>
                    <th class ="row-header">@{row + 1}</th>
                    @for(col <- 0 until size){
                        <td class="cell">
                        @{
                            if (value(col, row) <= 0) {
                                <a href={"/set/" + (col + 65).toChar + (row + 1)}>
                                {if (value(col, row) == -1) {
                                            <span class="dot"/>
                                }}
                                </a>
                            } else if (value(col,row) == 1) {
                                        <img src='/assets/images/1.png'/>
                            } else if (value(col, row) == 2){
                                        <img src='/assets/images/2.png'/>
                            }
                        }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
}