@()
<nav class="sidenav bg-light collapse width" id="sidebar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#new-game-modal">New Game</button>
        </li>
        <li class="nav-item">
            <button type="button" role="button" class="btn btn-light" onclick=request("undo")>Undo</button>
        </li>
        <li class="nav-item">
            <button type="button" role="button" class="btn btn-light" onclick=request("redo")>Redo</button>
        </li>
        <li class="nav-item">
            <button type="button" role="button" class="btn btn-light" onclick=request("hint")>Hint</button>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button type="button" role="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Difficulty
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="e" onclick="request(`difficulty/${this.id}`)">Easy</a>
                    <a class="dropdown-item" id="m" onclick="request(`difficulty/${this.id}`)">Normal</a>
                    <a class="dropdown-item" id="d" onclick="request(`difficulty/${this.id}`)">Hard</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button type="button" role="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mode
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item">Player vs Player</a>
                    <a class="dropdown-item">Player vs Bot</a>
                    <!-- no demo mode for now -->
                </div>
            </div>
        </li>
    </ul>
</nav>
<div class="modal fade" tabindex="-1" role="dialog" id="new-game-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Start new game?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="text-align: center">Current score will be lost.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick=request("new")>Ok</button>
            </div>
        </div>
    </div>
</div>